.PostsInList {
    display: flex;
    flex-direction: row;


}

.Title {
    font-size: 24px;
    font-family: 'Dosis', sans-serif;
}

.Thought {
    font-family: 'Dosis', sans-serif;
}

.trashCan {
    height: 100px;
    width: 100px;
}

material-icons-outlined {
    height: 100px;
    width: 100px;
}