.SocialPosts {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f3f1f7;
}

.Header {
    font-family: 'Homemade Apple', cursive;
    text-align: center;
}

.formContainer {
    font-family: 'Dosis', sans-serif;
    display: flex;
    background-color: #79c5e8;
}


#newThoughtButton {
    background-color: #03a9f4;
    width: 33%;
}

button {
    font-family: 'Dosis', sans-serif;
}

.hideForm {
    display: hidden;
}